<div class="app">
  <!-- Sidebar -->
   <aside class="sidebar">
     <div class="brand">Expense Tracking</div>

     <nav class="nav">
        <a class="dashboard-nav" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Dashboard
        </a>
        <a class="transactions-nav" routerLink="/transactions" routerLinkActive="active">
          Transactions
        </a>
      </nav>

      <div class="sidebar-footer">
        <a href="#">Help</a>
        <a href="#">Settings</a>
      </div>
   </aside>
    
   <!-- Main content -->
    <main class="main">
      <header class="topbar">
        <div class="topbar-title">Expense Tracking</div>

        <div class="topbar-actions">
          <input class="search" placeholder="Search"/>
          <button class="icon-btn" type="button">🔔</button>
        </div>
      </header>

      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </main>
</div>