<div class="row">
    <div class="left">
        <div class="category">{{ item.category }}</div>
        <div class="meta">{{ item.date }} • {{ item.type }}</div>
        <div class="note" *ngIf="item.note">{{ item.note }}</div>
    </div>

    <div class="right">
        <div class="amount">{{ item.amount | number }}</div>

        <div class="actions">
            <button class="btn-action btn-edit" type="button" (click)="onEdit()">
                Edit
            </button>
            <button class="btn-action btn-delete" type="button" (click)="onDelete()">
                Delete
            </button>
        </div>
    </div>
</div>